body,html {
    padding: 0;
    margin: 0;
}

header {
    position: sticky;
    top:0;
    height: 60px;
    margin-bottom: 10px;
    z-index: 9999;


    & > nav {
        padding: 10px;
        display: block;
        background: linear-gradient(180deg, #AAA 75%, #888);

        & > img {
            height: 20px;
        }

        & ul {
            display: inline-block;
            padding-left: 10px;
            margin-bottom: 0;
        }

        & li {
            display: inline-block;
            margin-right: 10px;
        }
    }
}

footer {
    height: 20px;
    margin-top: 10px;
    text-align: center;
    font-size: 10px;

    background: linear-gradient(#AAA 75%, #888);
}

.right-menu {
    float: right;
}

main {
    padding: 20px;
    min-height: calc(100vh - 100px);
}
